* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #777777;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #221c5c23;
    color: #dddddd;
    width: 300px;
    max-width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #929292;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 1rem;
    margin-bottom: .5rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #221c5c23;
    color: #dddddd;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #221c5c73;
}

.btn:active {
    background-color: #221c5cab
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgba(26, 92, 122, 0.541);
}

#igual:hover {
    background-color: rgba(26, 92, 122, 0.795);;
}